table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
}
textarea[name="keyword"] {
    float: left;
}
input[name="search_keyword"] {
    float: left;
    margin: 8px;
    width: 300px;
}
#start {
    width: 177px;
    margin: 7px;
}
#show_type, #show_link, #show_checkbox label {
    cursor: pointer;
}
.txt_line {
    padding:0 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: inline-block;
    max-width: 220px;
}
